.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutMe-cont{
    text-align: left;
    width: 600px;
    height: 350px;
    padding: 40px;
    color: white;
    background-color: #0d0d0d;
    border-radius: 20px;
    margin-right: 40px;
}

.sideMenu-container{
    text-align: left;
}

.name-text{
    font-size: 40px;
    font-weight: bold;
    color: #0078d7;
}
.greeding-text{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.aboutMe-text {
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px; 
    color: white;
}


.resume-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    transition: all 0.5s ease;
}

.resume-button:hover{
    background-color: #0d333b;
    font-size: 24px;
    color: green;
}

.resume-button-cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    padding: 20px;
}

.icons-container{
    margin-top: 100px;
}

#face-photo{
    border-radius: 50%;
    width: 200px;
}

.linkIn-logo{
    width: 50px;
}

