
.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    padding: 100px;

    background-color: #121212;
    
}

.aboutMe-cont{
    text-align: left;
    width: 600px;
    height: 350px;
    padding: 40px;
    color: white;
    background-color: #0d0d0d;
    border-radius: 20px;
    margin-right: 40px;
}

.name-text{
    font-size: 40px;
    font-weight: bold;
    color: #0078d7;
}

.aboutMe-text {
    display: block;
    font-size: 20px;
    line-height: 50px;
    margin-top: 10px; 
}


.resume-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    transition: all 0.5s ease;
}

.resume-button:hover{
    background-color: #0d333b;
    font-size: 24px;
    color: green;
}

.resume-button-cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    padding: 20px;

}

#face-photo{
    border-radius: 50%;
    width: 200px;
}