
.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
}

.aboutMe-cont1{
    width: 450px;
    height: 400px;
    padding: 40px;
    color: white;
    background-color: #282c34;
    border-radius: 20px;

    margin-right: 40px;
    
}

.name-text{
    font-size: 40px;
    font-weight: bold;
}

.aboutMe-text {
    display: block;
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px; 
}

.aboutMe-cont2{
    width: 450px;
    height: 400px;
    padding: 40px;
    color: white;
    background-color: #282c34;
    border-radius: 20px;
    
    margin-left: 20px;
}

.resume-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    transition: all 0.5s ease;
}

.resume-button:hover{
    background-color: #0d333b;
    font-size: 24px;
    color: green;
}

.resume-button-cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    padding: 20px;

}

#face-photo{
    border-radius: 50%;
    width: 200px;
}