.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenu-container{
    text-align: left;
    position: fixed;
}

.name-text{
    font-size: 40px;
    font-weight: bold;
    color: #0078d7;
}

.aboutMe-text {
    display: block;
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px; 
    color: white;
}

.sections-container{
    padding-top: 10px;
    text-align: left;
}

.section-option{
    color: gray;
    list-style: none;
    margin-top: 20px;
    font-size: 15px;
}

.section-active{
    color: #13fb03;
    font-size: 20px;
    list-style: square;
}

.icons-container{
    margin-top: 40px;
}


.linkIn-logo{
    width: 30px;
}
