#nav-container {
    margin-top: 20px; 
    background-color: #121212;

}

#navLi-container,
#navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.ul-cont{
    padding-right: 50px;
}

.nav-li {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
}
.link-style {
    text-decoration: none;
    color: #0078d7;
    font-size: 20px;
}

#nameLogo-img{
    width: 150px;
    margin-top: 10px;
    margin-left: 40px;
}

.currentPage {
    background-color: #2da9ad;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s ease;
}

.active{
    background-color: #2da9ad;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s ease;
}